stc_theme = your theme name
connection_stc_users_postgres = "dbname=, user=, password=, host=, port="
stc_server_host = localhost # localhost in default solution
stc_client_host = localhost
stc_port = 65044 # use any in the range up to 1000
smtp_login = your login in email
smtp_password = your password in email